// @import 'style.scss';
@import 'bootstrap';
$secondary-2: #afafaf;

main {
  display: flex;
}

aside {
  background-color: white;
  width: 280px;
  height: 100vh;
}

.btn {
  border-radius: 1.25rem;
}

ul {
  list-style: none;
  padding: 0;
}

.projects-list {
}

.projects-item {
  font-weight: 500;
}

.projects-item span {
  width: 24px;
  height: 24px;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 24px;
}

.projects-item:hover {
  background-color: $light;
}

.bg-grey {
  background-color: $secondary-2;
}
